.home{
    text-align: center;
}

#title{
    font-family: 'Shadows Into Light', cursive;
}

#ear-training{
    border: 2px solid black;
    border-radius: 20%;
    cursor: pointer;
}

#ear-training:hover{
    background-color: #99ccff;
}

#sheet-music{
    border: 2px solid black;
    border-radius: 20%;
    cursor: pointer;
}

#sheet-music:hover{
    background-color: #99ccff;
}

.header{
    text-align: center;
}

.difficulty-selection{
    text-align: center;
}

#home{
    border: 2px solid black;
    border-radius: 20%;
    cursor: pointer;
}

#home:hover{
    background-color: #99ccff;
}

.difficulties{
    margin-top: 2vw;
    text-align: center;
}

#beginner{
    border: 2px solid black;
    cursor: pointer;
}

#beginner:hover{
    background-color: #99ccff;
}

#intermediate{
    border: 2px solid black;
    cursor: pointer;
}

#intermediate:hover{
    background-color: #99ccff;
}

#advanced{
    border: 2px solid black;
    cursor: pointer;
}

#advanced:hover{
    background-color: #99ccff;
}

#progress{
    margin-left: 5%;
    text-align: center;
}

.question{
    margin-top: -10vw;
    text-align: center;
}

.piano{
    text-align: center;
}

.btn-octave-custom {
    padding: 0% !important;
    border: 1px solid black !important;
    font-size: 1.5vw !important;
    color: dodgerblue !important;
}

.btn-white-custom {
    padding: 0% !important;
    padding-top: 10vw !important;
    height: 15vw !important;
    border: 1px solid black !important;
    font-size: 2vw !important;
}

.btn-black-custom {
    padding: 0% !important;
    padding-top: 5vw !important;
    vertical-align: top !important;
    color: dodgerblue !important;
    width: 2.5vw;
    height: 9vw;
    border: 1px solid black !important;
    font-size: 1vw !important;
    position: relative;
    z-index: 1;
}

#next{
    padding-top: 0% !important;
    vertical-align: top !important;
    border-radius: 20%;
}